/* src/index.css or src/App.css */
@import 'leaflet/dist/leaflet.css';

/* src/index.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}